{% extends "layout.html" %}
{% block body %} 

<div class=jumbotron>
    <h1 class="text-center"> Crea tu perfil ahora </h1>
    <button type ='button' class="btn btn-md btn-success btn-block" onclick="location.href='http://127.0.0.1:3000/registrarsetr'" value="Perfil trabajador"> Perfil trabajador </button>
    <button type ='button' class="btn btn-md btn-success btn-block" onclick="location.href='http://127.0.0.1:3000/registrarseus'" value="Perfil usuario"> Perfil usuario </button>

</div>

{% endblock %} 