<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta charset="utf-8">
        <title> Login </title>
        <link rel="stylesheet" href="misestilos.css">
    </head>
    <body>
        <form method="POST">
            Identificador: <input type="text" name="identificador"> 
            Usuario: <input type="text" name="usuario">
            Contrasena: <input type="password" name="password">
            Rol: <select name="rol">
                <option value="trabajador"> Trabajador </option>
                <option value="usuario"> Cliente </option>
            </select>
        </form>
    </body>
</html>